An extension for lovely people that want to clean up their tabs :)

<b>***</b>

Tab Grid is useful for

<ul>
    <li>People who go down rabbit-holes</li>
    <li>People who don't like bookmarks as much as they do tabs</li>
    <li>People that organize things visually</li>
    <li>People with ADD/ADHD</li>
    <li>People curious about writing their own tab management extensions</li>
    <li>People helping others clean up their tabs</li>
</ul>

<b>***</b>

Free.
Open source with public license (AGPLv3)

<b>***</b>

<ul>
    <li><a href="https://gitlab.com/DrTexx/tab-grid">Documentation</a></li>
    <li><a href="https://gitlab.com/DrTexx/tab-grid/-/releases">Release notes</a></li>
</ul>
