* {
    box-sizing: border-box;
}

.tab-grid-entry {
    display: inline-flex;
    /* width: 200px;
    height: 112px; */
    /* background-color: red; */
    /* border: 3px solid black; */
    margin: 5px;
}

.tab-preview-frame {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 112px;
    border: 3px solid white;
    outline: 3px solid black;
}

.tab-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
}

.is-reloading {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(-1turn);
    }
}

.session-entry {
    height: 50px;
    margin: 2px;
}
