html, body {
  width: 350px;
}

a {
  margin: 10px;
  display: inline-block;
}

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 5px;
}

.tab-preview-frame {
  width: 200px;
  height: 112px;
  border: 3px solid white;
  outline: 3px solid black;
}

.is-reloading {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(-1turn);
  }
}
